<h1>My Bucketlist</h1>

<p>Things I'm going to do before I die</p>


<div id="myfirstchart" style="height: 250px;"></div>

<div id="destinations">
  <% @destinations.each do |d| %>
    <%= render d %>
  <% end %>
</div>

