
.destination {
  padding-bottom: 30px;
  width: 300px;
  text-align: center;
  padding-top: 20px;
  float:left;
  border-radius: 6px;

  img {
    border-radius: 280px;
    border: 3px dashed red;
  }
}

.destination p {
  font-size: 28pt;
  font-family: cursive;
}

.row {
  padding-bottom: 20px;
  clear:left;
}

.sort-links {
  display: inline;
  margin-right: 10px;
}

#search-box {
  border: 1px solid #CCC;
  padding: 8px;
  width: 200px;
  margin-left: 320px;
  margin-top: 20px;

  h5 {
    margin:0px 0px 5px 0px;
  }
}