#content {
  z-index: 1;

  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 20px;
  margin-left: 20px;
}

body {
  padding:0px;
  margin: 0px;

  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}